.info-order {
    padding-left: 0;
}

.c-bill {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 35px 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.order-sign-body .order-sign p {
    margin-bottom: 0;
}

.order-sign-body .order-sign {
    padding-bottom: 155px;
}
.order-footer p, .order-sign p{
    margin-bottom: 0;
}
.order-footer .d-md-flex >div{
    padding-bottom: 20px ;
}
table {
    table-layout: auto;
    table-layout: fixed;

}
table td{
    word-break: break-word;
}
table thead th:nth-child(2){
    width: 20%;
}
table thead th:nth-child(1){
    width: 10%;
}
table thead th:last-child{
    width: 5%;
}
table thead th:nth-child(9){
    width: 5%;
}
table td{
    padding: 10px 2px;
}