/* Quy định chung */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.category-page a{
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: #333942;
}
.category-page a:hover, .category-page a:focus {
    text-decoration: none;
}

.category-page ::placeholder {
    color: #999 !important;
    opacity: 1;
}

.category-page :-ms-input-placeholder { 
    color: #999 !important;
}

.category-page ::-ms-input-placeholder {
    color: #999 !important;
}
section#breadcrumbs {
    padding-bottom: 10px;
}
section{
    background: #f8f8f8;
}
/* KẾT */

/* SHOP SIDEBAR */
.category-page .shop-sidebar{
    padding-right: 0;
}
/* KẾT */

/* breadcrumbs */
.page-title.shop-page-title{
    background-color: #fff;
    padding: 10px 0;
    box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 30%);
}
.page-title.shop-page-title .breadcrumbs a{
    color: #999;
}
.page-title.shop-page-title .breadcrumbs a.active,
.page-title.shop-page-title .breadcrumbs a:hover,
.page-title.shop-page-title .breadcrumbs span{
    color: #007aff;
}
/* KẾT */

/* Slider */
.slider{
    margin-bottom: 10px;
}
.slider .fotorama .fotorama__stage__frame{
    border-radius: 10px;
}
.slider .fotorama img{
    transition: 0.5s;
}
.slider .fotorama img:hover{
    filter: brightness(1.1);
}
/* KẾT */

/* Danh mục */
.widget{
    box-shadow: -1px 1px 3px 0px rgb(137 152 172 / 30%);
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #f7f7f7;
    border-radius: .25rem;
    padding: 10px;
}
    /* title */
.widget-title{
    font-size: 16px;
    font-weight: 500;
    color: #333942;
}
    /* search */
.widget-search {
    position: relative;
    margin-bottom: 15px;
}
.widget-search button{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0 10px;
    transform: translate(0, -50%);
    transition: all 0.5s;
    opacity: 0.5;
}
.widget-search button:focus{
    outline: none;
}
.widget-search button:hover{
    cursor: pointer;
}
.widget-search input{
    border-radius: 20px;
    font-size: 13px;
    border-color: #ced4da;
    height: 38px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.widget-search input.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.widget-search .search-icon{
    width: 27px;
    height: 27px;
    background-size: 345px;
    background-position: -108px -6px;
    display: inline-block;
    background-image: url("../image/icon.png");
}
    /* check box */
.check-custom{
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.check-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: 1px solid #DDD;
}
.check-custom input:checked ~ .checkmark {
    background: #BB0029;
    border-color: #BB0029;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-custom input:checked ~ .checkmark:after {
    display: block;
}
.check-custom .checkmark:after {
    left: 4px;
    top: -1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
    /* check box scroll view */
.scrollbar{
    max-height: 320px;
    overflow-y: scroll;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    margin-right: -8px;
}

    /* 2 nút xóa lọc và áp dụng */
.thuonghieu .footer-filter{
    border-top: 1px solid rgba(0,0,0,0.125);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
}
.thuonghieu .footer-filter button{
    height: 34px;
    border-radius: 17px;
    border: 1px solid #BB0029;
    background-color: #FFFFFF;
    color: #BB0029;
    font-size: 3.5vw;
    outline: none;
}
.thuonghieu .footer-filter button:last-child {
    background-color: #BB0029;
    color: #FFFFFF;
}
/* KẾT */

/* FILTER GIÁ */
    /* slider */
.price-range-slider .range-bar{
    height: 6px !important;
    background-color: #DEE5E9 !important;
    border-radius: 4px;
    border: 0 !important;
    margin-bottom: 20px;
    position: relative;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.price-range-slider .range-bar .ui-slider-range {
    background: #BB0029;
    height: 6px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: 400;
    color: #454545;
}

.price-range-slider .range-bar .ui-slider-handle {
    background-color: #FFFFFF !important;
    box-shadow: -1px 1px 4px rgba(137, 152, 172, 0.5);
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    right: -8px;
    outline: none;
}
.ui-widget.ui-widget-content {
    border: none !important;
}

/* hiển thị giá */
.widget-price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.widget-price input{
    background: #fff !important;
    cursor: not-allowed;
    font-size: 13px;
}
.widget-price .title-range{
    margin-bottom: 10px;
    color: #333942;
}
.widget-price .box-input{
    position: relative;
}
.widget-price .box-input span{
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #8998AC;
}
.widget-price .form-group.col-6.phai{
    padding-left: 5px;
}
.widget-price .form-group.col-6.trai{
    padding-right: 5px;
}
    /* button Áp dụng */
.widget .btn-price {
    width: 100%;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #BB0029;
    background-color: #BB0029;
    color: #FFFFFF;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}
/* KẾT */

/* Đóng bộ lọc trên mobile */
.widget .title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #BB0029;
}
.widget .title-box span {
    font-size: 4.5vw;
    color: #333942;
}
.widget .title-box .close-filter{
    width: 20px;
    border: 0;
    padding: 0;
    background: transparent;
    outline: none;
}
.widget .title-box button.close-filter::before, .widget .title-box button.close-filter::after {
    background-color: #333;
    content: '';
    display: block;
    height: 1px;
    margin: 7px 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.widget .title-box button.close-filter::before{
    -webkit-transform: translateY(3px) rotate(135deg);
    transform: translateY(3px) rotate(135deg);
}
.widget .title-box button.close-filter::after{
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}
/* KẾT */

/* Shop Container */
.shop-container-inner{
    box-shadow: -1px 1px 3px 0px rgb(137 152 172 / 30%);
    border: 1px solid #f7f7f7;
    border-radius: .25rem;
    background: #fff;
}

.shop-container-inner .title-filter {
    font-size: 16px;
    margin-bottom: 21px;
    margin-top: 0;
    padding: 13px 10px 0;
}
.shop-container-inner .title-filter span{
    font-weight: 400;
}
    /* Bộ lọc sản phẩm */
.filter-cate{
    padding: 0 10px 10px;
    border-bottom: 1px solid #F0F3F7;
}
.filter-cate ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    color: #333942;
}
.filter-cate ul li{
    display: inline-block;
}
.filter-cate ul li a {
    color: #333942;
    border: 1px solid #CBCBCB;
    padding: 3px 18px;
    border-radius: 30px;
    transition: color .15s;
    margin: 5px;
    display: block;
}
.filter-cate ul li a.active, .filter-cate ul li a:hover{
    background: #BB0029;
    border-color: #BB0029;
    color: #FFF;
}
    /* SẢN PHẨM */
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.products .item {
    margin-top: 10px;
    padding: 12px 8px;
}
.products .item:hover{
    border-radius: 4px;
    box-shadow: -2px 1px 7px -1px rgba(221, 228, 238, 0.75);
}
.products .product-box{
    margin: 0;
}
.products .product-box *{
    padding: 0;
}
.products .title-wrapper .product-title{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333942;
    transition: all .5s;
    line-height: 1.5;
    display: block;
    display: -webkit-box;
    height: 39px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products .title-wrapper .product-title:hover{
    color: #BB0029;
}
.products .price-wrapper span{
    display: block;
}
.products .price-wrapper .price{
    font-size: 16px;
    color: #BB0029;
}
.products .price-wrapper .price-old{
    font-size: 14px;
    color: #aab5c3;
    text-decoration: line-through;
    margin-top: 6px;
}
.products .box-image .image-cover img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.products .box-image .image-cover {
    max-width: 150px;
    margin: 0 auto;
    max-height: 225px;
    overflow: hidden;
}
.products .box-image .block-sale{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0px 0px;
    width: 60px;
    height: 60px;
}
.products .box-image .block-sale span{
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 57%;
    right: 57%;
    transform: translate(50%, -50%);
}
.products .box-image .block-sale2{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 0px 10px 10px;
    width: 55px;
    height: 55px;
}
.products .box-image .block-sale2 img{
    border-radius: 31px;
    border: 1px solid #9e9e9e6b;
    background: #fff;
    padding: 5px;
    box-shadow: -2px 1px 7px -1px rgb(221 228 238 / 75%);
}
    /* Pagination */
.shop-container .nav-pager {
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}
#pagination li {
    display: inline;
}
#pagination li a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: #3B4859;
    width: 30px;
    height: 30px;
    line-height: 2.5;
    margin-right: 5px;
}
#pagination li a {
    border-radius: 100%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s
}
#pagination li a.active {
    background-color: #BB0029;
    color: #fff
}
#pagination li a.page-arrow{
    background-color: #EFF2F7;
}
#pagination li a:hover:not(.active) {
    background-color: #BB0029;
    color: #fff;
} 
    /* select options */
.select-option{
    position: relative;
    width: 80px;
    max-height: 30px;
}
.select-option *{   
    color: #fff;
}
.select-option i{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.custom-select{
    background: #BB0029;
    height: 30px;
    border: none;
    box-shadow: none;
    padding: 0px 0px 0px 15px;
    outline: none;
    border-radius: 15px;
}
.custom-select option{
    background: #fff;
    font-size: 12px;
    color: #8998AC;
    border: none;
}
/* KẾT */

/* Phần Mô Tả */
.box-detail-cate {
    border: 1px solid #cbcbcb;
    padding: 25px 29px;
    margin-top: 30px;
    display: inline-block;
    color: #666;
}
.box-detail-cate h2{
    font-size: 18px;
    margin-bottom: 15px;
    color: #000;
}
.box-detail-cate h3{
    font-size: 16px;
    color: #e62e6b;
}
.box-detail-cate p{
    line-height: 1.8;
}
.box-detail-cate a{
    color: #666;
    font-weight: 400;
}
.box-detail-cate img {
    margin: 0 1.5% 1.5% 0;
}
/* KẾT */

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
    .category-page .shop-sidebar{
        padding: 0;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.25s;
        height: 100%;
        visibility: hidden;
    }
    .widget, .shop-container-inner, .shop-container{
        box-shadow: none;
        border: none;
        /* padding: 0; */
    }
    .widget-title, .widget-price .title-range{
        font-size: 4.5vw;
    }
    .widget.thuonghieu{
        padding: 0 10px;
    }
    .widget.danhmuc{
        display: none;
    }
    .widget .widget-search{
        display: none;
    }
    .checkmark {
        right: 5px;
        left: auto;
    }
    .check-custom{
        padding: 10px 5px 0px 5px;
        margin: 0;
        font-size: 13px;
    }
    .check-custom:after{
        border-bottom: 1px solid rgba(0,0,0,0.125);
        content: "";
        display: block;
        margin-top: 10px;
    }
    .check-custom .count-item{
        display: none;
    }
    .widget .btn-price{
        display: none;
    }
    .widget {
        margin: 0;
        padding-bottom: 0;
    }
    .widget .box-input {
        margin-bottom: 8px;
    }
    .form-group{
        margin-bottom: 0;
    }
    
    .scrollbar{
        margin-right: -10px;
        padding-right: 10px;
    }

    /* bộ lọc sản phẩm */
    .filter-cate{
        border-bottom: 1px solid #e3e3e3;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        z-index: 10;
        padding: 0 0 10px;
        display: flex;
        justify-content: space-between;
    }
    .filter-cate ul {
        font-size: 3.5vw;
        padding-inline-start: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: 46px;
    }
    .filter-cate ul li a {
        border: none;
        padding: 0;
        margin: 0;
    }
    .filter-cate ul li a.active, .filter-cate ul li a:focus, .filter-cate ul li a:hover{
        color: #BB0029;
        background: #fff;
        border-color: #fff;
    }
    .slider-price{
        padding: 10px;
    }
    .slider-price .widget-title{
        margin-bottom: 10px;
    }
    .widget-title{
        margin: 0;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* shop container inner */
    .shop-container-inner {
        background: #f8f8f8;
    }
    /* product box, item product */
    .products .product-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .products .item{
        padding: 10px 0px;
        margin: 0px 0px 5px 0px;
        background: #fff;
        -webkit-box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 50%);
        box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 50%);
    }
    /* box image */
    .products .product-box .box-image {
        padding: 5px 20px;
    }
    /* block sale */
    .products .box-image .block-sale{
        width: 12vw;
        height: 12vw;
        padding: 5px 5px 0px 0px;
    }
    .products .box-image .block-sale span{
        top: 6.5vw;
        right: 6.4vw;
        font-size: 3vw;
    }
    .products .box-image .block-sale2{
        padding: 0px 0px 5px 5px;
        width: 10vw;
        height: 10vw;
    }
    .products .box-image .block-sale2 img{
        border-radius: 0px;
        border: none;
        background: none;
        padding: 0;
        box-shadow: none;
    }
    /* box text box price */
    .products .title-wrapper .product-title{
        font-size: 3.5vw;
        height: 10vw;
    }
    .products .price-wrapper *{
        font-size: 4.1vw !important;
    }
}

@media only screen and (min-width: 992px) {
    /* check box scroll view */
    .scrollbar:hover::-webkit-scrollbar {
        display: inline;
    }
    .scrollbar::-webkit-scrollbar {
        background-color:#fff;
        width:14px;
        display: none;
    }
    .scrollbar::-webkit-scrollbar-track {
        background-color:#fff
    }
    .scrollbar::-webkit-scrollbar-track:hover {
        background-color:rgb(240, 240, 240)
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color:rgb(226, 226, 226);
        border-radius:7px;
        border:4px solid #fff;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background-color:rgb(206, 206, 206);
        border: 2px solid #eee;
    }
    .scrollbar::-webkit-scrollbar-button {display:none}
    }
/* KẾT */

.active>ul.sub-menu {
    max-height: 999px;
    margin: 0 0 10px 3px;
    -moz-transition: max-height 0.5s ease-in, margin 0.25s;
    -webkit-transition: max-height 0.5s ease-in, margin 0.25s;
    -o-transition: max-height 0.5s ease-in, margin 0.25s;
    transition: max-height 0.5s ease-in, margin 0.25s;
}

ul.category-menu>li ul {
    border-left: 1px solid #ddd;
    margin: 0;
    padding-left: 15px;
    width: 100%;
    max-height: 0;
    -moz-transition: margin 0.25s, max-height 0.15s ease-out;
    -webkit-transition: margin 0.25s, max-height 0.15s ease-out;
    -o-transition: margin 0.25s, max-height 0.15s ease-out;
    transition: margin 0.25s, max-height 0.15s ease-out;
    overflow: hidden;
}

ul.category-menu>li.has-child, ul.sub-menu>li.has-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul.category-menu>li>a, ul.category-menu>li>span:first-child, ul.sub-menu>li>a{
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

button.toggle {
    border: 0;
    cursor: pointer;
    height: auto;
    padding: 0;
    background: transparent;
    width: 1em;
    min-height: 1em;
    margin: 0 0 0 5px;
    outline: none;
}
.check-side.category-menu li.menu-item{
    border-bottom: 1px solid #ddd;
}

.check-side.category-menu li.menu-item.menu-border{
    border-bottom: 1px solid #ddd;
}
.check-side.category-menu li.menu-item a:hover {
    color: red;
}
.check-side.category-menu li.menu-item:last-child{
    border-bottom: unset;
}

.widget.danhmuc .category-menu {
    margin: 0;
    padding: 0;
}

.category-page ul{
    list-style: none;
}
.category-page .slick-prev {
    left: -10px;
}
.category-page .slick-next {
    right: -10px;
}