.title-footer {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.ketnoi {
    padding: 0;
    margin-top: 25px;
}

.ship-f,
.socials-footer,
.bct-f {
    display: none;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* #button {
    display: inline-block;
    background-color: #ff9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.fas.fa-chevron-up {
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
} */


/* Styles for the content section */

@media (min-width: 500px) {
    footer .content {
        width: 43%;
    }
    #button {
        margin: 30px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

@media (max-width: 991px) {
    .middle-footer,
    .social-pc,
    .title-time,
    .time-des,
    iframe {
        display: none;
    }
    .ship-f,
    .socials-footer,
    .bct-f {
        display: block;
    }
}

@media (max-width: 1024px) {
    .site-footer{
        margin-bottom: 52px;
    }
    .info-company .title-info {
        color: #bb0029 !important;
        font-size: 4.5vw;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 2rem;
    }
    .title-client {
        text-transform: none !important;
    }
    .info-company .des,
    .info-company .des span,
    .list-support ul li a,
    .box-hotline-f .time-des,
    .box-hotline-f .title-time {
        color: #222 !important;
    }
    .info-company .des {
        padding-bottom: 0px !important;
    }
    .title-custom {
        color: #333;
        font-size: 16px;
        margin-bottom: 0;
        text-transform: uppercase !important;
    }
    .bct-f .title-custom {
        margin: 15px 0;
    }
    .icon-bct-m {
        background-position: -768px -100px !important;
        width: 200px;
        height: 75px;
        margin-top: -9px;
    }
    .icon-ship1 {
        background-position: -550px -103px !important;
        width: 100px;
    }
    .icon-ship2 {
        background-position: -445px -103px !important;
        width: 60px;
    }
    .icon-ship3 {
        background-position: -672px -108px !important;
        width: 83px;
    }
    .icon-ship1,
    .icon-ship2,
    .icon-ship3 {
        height: 55px;
    }
    .icon-ship1,
    .icon-ship2,
    .icon-ship3,
    .icon-bct-m {
        background-size: 1000px !important;
    }
    .socials-footer ul li {
        margin: 0 10px;
        list-style: none;
    }
    .socials-footer {
        border-top: 1px solid #e3e3e3;
    }
    .socials-footer>.col-box>ul {
        padding: 10px 10px 5px;
        width: 100%;
        flex-wrap: wrap;
    }
    .icon-s1 {
        background-position: -488px -22px !important;
    }
    .icon-s2 {
        background-position: -539px -22px !important;
    }
    .icon-s3 {
        background-position: -589px -22px !important;
    }
    .icon-s4 {
        background-position: -640px -22px !important;
    }
    .icon-s1,
    .icon-s2,
    .icon-s3,
    .icon-s4 {
        width: 40px;
        height: 40px;
        background-size: 700px !important;
    }
    .icon-m {
        background: url(https://japana.vn/assets/mobile/assets/images/icon-m3.png) no-repeat;
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .tikicon.icon-footer-zalo {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/sprite.png?v=100000000);
        background-position: -203px -72px;
        width: 32px;
        height: 32px;
    }
    .icon {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }
    .a25-374f6b {
        width: 120px;
        height: 40px;
        /* margin-top: .8rem; */
        margin-right: 0.8rem;
        object-fit: contain;
    }
    .socials-footer {
        display: none;
    }
}
@media (max-width: 500px) {
    #button {
        bottom: 60px;
        right: 15px;
    }
}

.info-company .title-info,
.title-info {
    font-weight: 500;
    color: #333;
    font-size: 16px;
    line-height:1.5;
    text-transform: uppercase;
}

.titlecmart {
    font-size: 1.5em !important;
}

.info-company .des {}

.des {
    line-height: 1.5;
}

.title-time {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.info-company p span {
    color: #333;
    font-weight: 500;
}

.info-company i {
    margin-right: 4px;
    width: 14px;
}

.info-company .des,
.info-company .des span,
.list-support ul li a,
.box-hotline-f .time-des,
.box-hotline-f .title-time {
    color: #608293;
}

.list-support ul li {
    padding: 0 0 13px;
}

footer ul,
footer ol {
    margin: 0;
    padding: 0;
}

.time-des {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    line-height: 1.5;
}

.hotline-f {
    font-size: 16px;
    font-weight: 500;
    color: #9e1836 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.fas.fa-phone-alt {
    padding-right: 10px;
}

.socials-f {
    width: 55%;
}

.socials-f li a i {
    font-size: 30px;
    color: #222;
}

.site-footer {
    margin-top: 30px;
    background: #f2f3f4;
    padding-top: 22px;
}

.icon-ship1-new {
    display: inline-block;
    background-position: -34px -715px !important;
    width: 110px !important;
    height: 65px !important;
    position: relative;
    top: -30px;
}

.icon-all-new,
.icon-desktop {
    background: url(https://japana.vn/assets/frontend/assets/images/icons_new.png) no-repeat;
}

.icon-ship2-new {
    display: inline-block;
    background-position: -12px -779px !important;
    width: 150px !important;
    height: 70px !important;
    position: relative;
    top: -30px;
}

.dmca-icon {
    background-position: 0 0;
    width: 55px;
    height: 56px;
    display: inline-block;
}

.box-icon-all2 {
    background: url(https://japana.vn/assets/images/icon-pc2.png) no-repeat;
}

.icon-certified {
    display: inline-block;
    background-position: -17px -533px !important;
    width: 180px !important;
    height: 65px !important;
    position: relative;
    top: -20px;
}

.icon-payment-01 {
    display: inline-block;
    background-position: -34px -666px !important;
    width: 110px !important;
    height: 75px !important;
    position: relative;
    top: -25px;
    left: -22px;
}

.icon-all-new,
.icon-desktop {
    background: url(https://japana.vn/assets/frontend/assets/images/icons_new.png) no-repeat;
}

.icon-payment-02 {
    display: inline-block;
    background-position: -34px -608px !important;
    width: 110px !important;
    height: 75px !important;
    position: relative;
    top: -25px;
    left: -72px;
}

.middle-footer {
    margin-top: 20px;
    border-top: 2px solid #eff3f7;
    padding: 28px 0 0;
}