* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.banner-header-item {
    width: 100%;
    display: inline-block;
    height: auto;
}


/* ------------ */
/* 
.container {
    margin-top: 10px;
} */

.product-cart {
    box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 50%);
    margin-bottom: 0;
    border-radius: 5px;
}

.product-title {
    padding: 13px 10px 0 10px;
    display: flex;
    align-items: baseline;
}

.product-title h3 {
    font-size: 18px;
    font-weight: 500;
}

.product-title span {
    font-size: 16px;
}

hr {
    margin-bottom: 0;
}

.product-main {
    padding: 15px;
}

.product-main-item {}

.product-main-item-box {
    display: flex;
}

.product-main-item-box-img {
    width: 90px;
    height: 90px
}

.product-main-item-box-img img {
    width: 100%;
    height: 100%;
}

.product-main-item-box-detail {
    padding-left: 10px;
}

.product-main-item-box-detail-title {
    line-height: 1.8;
    width: 338px;
    height: 45px;
    line-height: 1.6;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-main-item-box-detail-title a {
    text-decoration: none;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #39475B;
    line-height: 1.8;
}

.product-main-item-box-detail-btn-delete {
    padding-top: 10px;
}

.product-main-item-box-detail-btn-delete a {
    color: #008fe5;
}

.product-main-item-box-detail-btn-delete a {
    text-decoration: none;
}

.product-main-item-box-price {
    width: 165px;
    height: 27px;
    margin-left: 44px;
    line-height: 1.8;
    font-weight: 500!important;
    color: #BB0029!important;
    font-size: 13px !important;
    margin-top: 5px;
    margin-bottom: 9px;
}

.product-main-item-box-add-delete {
    display: flex;
    width: 203px;
    height: 26px;
    align-items: baseline;
}

.soluong {
    width: 59px;
    height: 26px;
    border-radius: 20px;
    margin: 0 10px;
    height: 26px;
    width: 59px;
    border-radius: 18px;
    border: 1px solid #F0F3F7;
    text-align: center;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #333942;
    margin: 0 10px;
}

.btn-giam {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

.btn-tang:hover,
.btn-giam:hover {
    background-color: #bb0029;
    color: #fff;
}

.btn-tang {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.btn-giam:focus,
.btn-tang:focus {
    outline: none;
}

.btn-giam span,
.btn-tang span {
    color: #333942;
}

.btn-dathang:focus {
    outline: none;
}


/* -------------------------- */

.cart-body {
    width: 280px;
    height: 105px;
    padding: 13px 10px;
    box-shadow: -1px 1px 4px 0px rgb(137 152 172 / 50%);
    border-radius: 5px;
}

.tamtinh {
    justify-content: space-between;
    display: flex;
}

.total {
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
}

.total-price,
.tamtinh-price {
    color: #bb0029;
}

.btn-dathang {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #FFFFFF;
    background-color: #BB0029;
    border: 1px solid #BB0029;
    padding: 9px 0;
    border-radius: 17px !important;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.btn-dathang:hover {
    background-color: #FFFFFF !important;
    color: #BB0029 !important;
    border: 1px solid #BB0029 !important;
}


/* ======Chưa có sản phẩm trong giỏ hàng======= */

.no-product {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 60px 0;
}

.cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-img img {
    width: 65px;
    margin-right: 20px;
}

.cart-img-text {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    background: #fff;
    border-radius: 20px;
    color: #666;
    margin-right: 30px;
    border: 1px solid #ccc
}

.btn-a:hover {
    background-color: #fff;
    color: #BB0029;
    border-color: #BB0029;
}

.btn-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    background: #bb0029;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #bb0029;
}

.btn-b:hover {
    background-color: #fff;
    color: #BB0029;
    border-color: #BB0029;
}


/* ---------------end------------------- */