
   .carousel-control-next, .carousel-control-prev {
    
    
    bottom: 50px;
    
    width: 6%;
    color: #fff;
    
}
   .carousel-indicators .carousel-pc .active .pager-item,
    .pager-item:hover {
        color: #333 !important;
    }

    .detail .title a:hover {
        color: #bb0029;
    }
 
    .title-client a:hover {
        color: #bb0029;
    }
    .slider-pc .carousel-item img{
        height: 300px;
    }

    .count-news span {

        font-weight: 400;
        font-size: 13px;
        color: #666;
    }

    .count-news {
        padding: 12px 0 21px;
    }

    .item .detail .title a {
        font-size: 14px;
        font-weight: 400;
        color: #333942;
        transition: all .5s;
        display: block;

    }

    .time-tag {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .active .title {
        margin-bottom: 18px;
    }

    .blog-item .detail {
        padding: 0 20px;
    }

    .blog-item {
        display: inline-block;
        margin: 5px 10px;
        border: 1px solid #e3e3e3;
    }

    .time-tag span {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-right: 10px;
    }

    .brand-item img {
        width: 100%
    }

    .brand-item:hover img {
        width: 80%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }


    .brand,
    .blogs {
        background-color: #fff;
        margin-bottom: 20px
    }

    a {

        color: #727272;
    }

    .brand-header,
    .blog-header {
        background: #fff;
        border-bottom: 1px solid #F0F3F7;
        padding: 10px 10px 10px;

    }

    .product-block,
    .banner {
        margin-bottom: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    .product-mobile {
        display: none;
    }

    .slick-prev:hover,
    .slick-next:hover {
        -webkit-box-shadow: 0 0 1px 2px rgb(0 0 0 / 10%);
        box-shadow: 0 0 1px 2px rgb(0 0 0 / 10%);
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-color: #ced4da !important;
    }

    .slick-prev:before,
    .slick-next:before :hover {
        color: blue !important
    }

    .slick-prev:before,
    .slick-next:before {
        color: red !important;
    }

    .slick-prev,
    .slick-next {
        border-radius: 100%;
        top: 40% !important;
    }

    .items {
        background-color: #fff;

    }

    .box3item {
        padding: 10px;
    }

    .sp:hover {

        box-shadow: -2px 1px 7px -1px rgb(221 228 238 / 75%);
    }

    .block-sale span {

        font-size: 13px;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 7px;
        right: 10px;
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .box-img,
    .box-img a {
        display: inline-block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .box-img a img {
        width: 100%;
    }

    .block-sale {
        position: absolute;
        top: -25px;
        right: 0;
        height: 60px;
        width: 60px;
        padding: 8px;
        padding-bottom: 0;
        text-align: right;
        padding-left: 0;
    }

    .block-sale img,
    .block-sale2 img {
        height: auto;
        width: 100%;
    }

    .detail .title a {
        font-weight: 400;
        font-size: 13px;
        color: #333;
        line-height: 1.5;
    }

    .detail .box-price {
        display: inline-block;
        line-height: 2;
        margin-top: 0;
    }

    .detail .box-price li.price {
        font-size: 16px t;
        color: #BB0029;
        margin-top: 8px;
    }

    .detail .box-price li.old-price {
        font-size: 14px;
        color: #aab5c3;
        margin-top: 0px;
        text-decoration: line-through;
        text-align: left;
    }

    .slick-slide {
        margin: 10px
    }

    /* .product .row div a img:hover {
        -webkit-box-shadow: 0 0 17px 2px rgb(0 0 0 / 30%);
        box-shadow: 0 0 17px 2px rgb(0 0 0 / 30%);
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    } */

    /* .sp1.row a:hover img, .sp2.row a:hover img, .sp3.row a:hover img, .banner.row a:hover img {
        -webkit-box-shadow: 0 0 17px 2px rgb(0 0 0 / 30%);
        box-shadow: 0 0 17px 2px rgb(0 0 0 / 30%);
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    } */

    .product {
        margin: 20px 0;
    }

    .sp1 {
        margin-bottom: 30px;
    }

    .sp2 {
        margin-bottom: 20px;
    }

    /* .product .row div a img {
        width: 100%
    } */


    /* .product .row div {
        padding-left: 7px;
        padding-right: 7px;
    } */

    .sp3-mobile {
        display: none;
    }

    .section-title {
        position: relative;
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
    .view-more{
        font-size: 16px;
        font-weight: bold;
        color: rgb(141, 141, 141);
    }

    .section-title {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px;
        border-bottom: 1px solid #E5E5E5;
    }

    .section-title b {
        display: block;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: .1;
        background-color: currentColor;
    }

    .section-title-normal b {
        display: none;
    }

    .section-title-normal span {
        color: black !important;
        font-size: 17px !important;
        margin-right: 15px;
        padding-bottom: 7.5px;
        /* border-bottom: 2px solid rgba(0,0,0,0.1); */
        margin-bottom: -2px;
    }
    .section-title-normal span a{
        color: black !important;

    }
    .section-title-main {
        border-bottom: 3px solid #b41a1f;
        padding: 10px 15px 7px 0px;
    }


    .title-client {
        color: #000;
        font-size: 18px;

        font-weight: 500;
        text-transform: uppercase;
    }

    .blog-mobile {
        display: none;
    }

    @media (max-width: 1024px) {

        .items-blog {
            display: none !important;

        }

        .blogs-scroll .detail a {
            font-size: 18px !important
        }

        .blog-mobile {
            display: block;
        }

        .blogs-scroll .blog-item-scroll .detail a {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 3.5vw;
            line-height: 1.5;
            color: #2a2a2a;
            border: 0;
            display: inline-block;
            white-space: normal;
        }

        .blogs-scroll {

            width: 100%;
            margin: 0 auto;
            position: relative;

            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap;
            padding: 7px 15px;

        }

        .blog-item-scroll {
            display: inline-table;
            width: 245px;

            margin: 0 17px;
        }


        .brand-header h2,
        .blog-header h2 {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 4.5vw;
        }

        .brand-item img {
            border: 0.5px solid #cbcbcb;
        }

        .slick-prev,
        .slick-next {
            display: none !important
        }

        /* .box3item {

            border-right: 1px solid #DEE5EE;
        } */

        .detail .title a,
        .detail .box-price li.price {
            font-size: 3.5vw;
        }





        .detail .box-price li.old-price {
            font-size: 3vw;


        }

        .product-mobile .box-img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .box3item .detail {
            text-align: center
        }

        .block-sale span {


            top: 5px;
            right: 5px;
        }

        .product-pc {
            display: none;
        }

        .product-mobile {
            display: block;
            background-color: #fff;
        }

        .sp3 {
            display: none;
        }

        .sp3-mobile {
            display: block;
        }

        .sp1 div a img {
            width: 100%
        }

        .carousel-indicators li {

            line-height: 0;
            width: 15px;
            height: 15px;
            padding: 3px;
            cursor: pointer;
            color: transparent;
            background: rgba(45, 20, 7, .5);
            outline: none;
            border-radius: 100%;
            border: 0;
            margin: 0 7px;
        }

        .img-pc {
            display: none;
        }

        /* .slider-pc {
            display: none;
        }

        .slider-mobile {
            display: block
        } */
        .img-mobile {
            display: block
        }
    }
    .detail .title a{
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-transform: uppercase;
    
    }

    .slider-mobile {
        display: none;
    }
    @media all and (max-width: 600px) {

    .section-title-normal span{
        font-size: 13px;
        width: 75%;
        margin-right: 0;
    }
    .view-more{
        font-size: 12px;
    }

}
    @media all and (min-width: 1025px) {
        .anima-hvr:hover:before {
            top: 50%;
            bottom: 50%;
        }

        .anima-hvr:hover:after,
        .anima-hvr:hover:before {
            background-color: rgba(255, 255, 255, .5);
        }

        .anima-hvr:hover:after {
            top: 50%;
            bottom: 50%;
        }

        .anima-hvr:after,
        .anima-hvr:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: all .5s ease-in-out;
        }

        .blogs,
        .brand {
            box-shadow: -1px 1px 2px 0 rgb(137 152 172 / 50%);
        }

        .blog-body {
            padding: 10px 20px 15px 18px;
        }

        .items-blog .slick-next {
            right: -45px;

        }

        .items-blog .slick-prev {
            left: -45px;


        }

        .blog-item .box-img,
        .blog-item .box-img a {
            margin-top: 10px
        }

        .img-mobile {
            display: none
        }

        .slider-mobile {
            display: none;
        }

        .carousel-pc {
            position: relative;
            right: 0;
            bottom: -12px;
            left: 0;
            z-index: 15;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;

            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
            list-style: none;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            border-bottom: 1px solid #e3e3e3;
        }

        .pager-item {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #999 !important;
            display: inline-block;
            width: 100%;
            border-right: 2px solid #999;
            padding: 0 26px;
            margin: 10px 0;
        }

        .carousel-pc li {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: auto;
            height: 30%;
            margin-right: 0px;
            margin-left: 0px;
            text-indent: 0;
            background-color: transparent;
        }

        .carousel-pc .active {
            border-bottom: 2px solid #bb0029;

        }

        .carousel-pc .active a {
            color: #222 !important
        }

        .carousel-indicators li::before,
        .carousel-indicators li::after {

            content: none;
        }

        .carousel-indicators .active {
            background-color: transparent !important;
        }
    }

    .carousel-fade .carousel-item {
        opacity: 0;
        transition-duration: 2s;
        transition-property: opacity;
    }

    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-item-prev.carousel-item-right {
        opacity: 1;
    }

    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
        opacity: 0;
    }

    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
        transform: translateX(0);
        transform: translate3d(0, 0, 0);
    }




    .carousel-inner {
        width: 100%;
    }


    .carousel-item img {
        width: 100%
    }

