/* /////////////// Giỏ Hàng //////////////// */


/* Mobide & Tablet */

@media (max-width: 1024px) {
    .product-title {
        display: block;
        text-align: center;
    }
    .product-title span {
        display: none;
    }
    .product-cart {
        box-shadow: none;
    }
    .product-main-item-box-img {
        float: left;
    }
    .product-main-item-box {
        display: block;
    }
    .product-main-item-box-detail {
        width: 300px;
        height: 79px;
        min-inline-size: -webkit-fill-available;
    }
    .product-main-item-box-price {
        float: left;
        margin-right: 440px;
        margin-left: 0;
    }
    /* .cart-right {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 600px;
    } */
    .btn-giam {
        width: 23px;
        height: 23px;
        background-color: #ededed;
        overflow: visible;
        border-radius: 4px;
        text-align: center;
        text-align: -webkit-center;
        display: inline-block;
        padding: 5px;
    }
    .btn-tang {
        width: 23px;
        height: 23px;
        background-color: #dc0000;
        overflow: visible;
        border-radius: 4px;
        text-align: center;
        text-align: -webkit-center;
        display: inline-block;
        padding: 5px;
        color: #fff;
    }
    .cart-body {
        width: 100%;
    }
    .btn-dathang {
        width: 100%;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .product-main-item-box-price {
        float: left;
        margin-right: 202px;
        margin-left: 0;
    }
    /* .cart-right {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 270px;
    } */
    .cart-body {
        width: 100%;
    }
    .btn-dathang {
        width: 100%;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .container {}
    .product-title {
        display: block;
        text-align: center;
    }
    .product-title span {
        display: none;
    }
    .product-cart {
        box-shadow: none;
    }
    .product-main-item-box {
        display: block;
    }
    .product-main-item-box-img {
        width: 80px;
        height: 80px;
        float: left;
    }
    .product-main-item-box-detail-title {
        width: 220px;
    }
    .cart-right {
        margin: 0 10px;
    }
    .cart-body {
        width: 100%;
    }
    .btn-dathang {
        width: 100%;
    }
}


/* /////////////// Thanh Toán //////////////// */


/* Mobide & Tablet */

@media (max-width: 1024px) {
    .card-information-body {
        display: block;
    }
    .makhuyenmai-body {
        display: flex;
    }
    .makhuyenmai-body-input {
        width: 90%;
    }
    .table {
        display: inline-table;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Mobile */

@media (max-width: 739px) {}


/*----------------Khuyến mãi---------------------- */


/* Mobide & Tablet */

@media (max-width: 1024px) {}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Mobile */

@media (max-width: 739px) {}