* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F8F8F8 !important;
}

:root {
  --color: #333942;
  --color-a: #666666;
  --fontSize-a:14px;
}

.row_big .carousel_big {
  height: 420px;
  width: 100%;
  max-width: 100%;
  margin: 0 0 10px 0;
}

.row_big .carousel_big .carousel-cell {
  position: relative;
}

.row_big .carousel_big .carousel-cell .sale {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 5px 5px 40px 40px;
  top: 10px;
  border-bottom: 40px solid transparent;
  right: 10px;
  content: '';
  background: red;
}

.row_big .carousel_big .carousel-cell .sale p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.product__detail .row-detail {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 0;
  box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
}

.product__detail .row-detail .row_small .carousel-small {
  width: 150px;
  height: 150px;
  margin: 0 5px;
}

.product__detail .row-detail .row_small .carousel-small img {
  width: 100%;
  max-width: 100%;
}

.product__detail .short-desc span {
  font-weight: 600;
  color: #999;
  font-size: var(--fontSize-a);
  padding-right: 10px;
}

.product__detail .short-desc p {
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.product__detail .short-desc .title h2 {
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 0;
}

.product__detail .short-desc .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__detail .short-desc .all-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__detail .short-desc .all-price .new-price {
  font-weight: 500;
  color: #BB0029;
  font-size: 20px;
}

.product__detail .short-desc .all-price .old-price {
  text-decoration: line-through;
  color: #aab5c3;
  font-weight: 400;
  font-size: 15px;
  padding-left: 15px;
}

.product__detail .short-desc .promo-intro {
  padding: 8px 20px;
  border-radius: 4px;
  margin: 10px 0;
  background: #DEE5EE;
  display: inline-block;
}

.product__detail .short-desc .promo-intro .title-promo {
  font-size: 12px;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;
}

.product__detail .short-desc .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__detail .short-desc .quantity .add-cart {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  background: #bb0029;
}

.product__detail .short-desc .quantity .add-cart p {
  margin-bottom: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
}

.product__detail .short-desc .quantity input {
  border: none;
  outline: none;
  width: 20%;
  padding: 5px;
  border-radius: 20px;
}

.product__detail .short-desc .quantity input:focus {
  border: 1px solid #000;
}

.product__detail .short-desc .product-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__des {
  margin-top: 25px;
}

.product__des-content {
  background: #fff;
  padding: 15px;
  margin-left: -15px;
  border-radius: 5px;
  box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
}

.product__des-content .title p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color);
}

.product__des-content .text_d p {
  color: var(--color-a);
  font-size: var(--font-size-a);
}

.product__des-content .text_d h2 {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}

.product__des-content .text_d h3 {
  font-size: 15px;
  color: #555555;
  font-weight: 500;
}

.product__des-content .text .item {
  text-align: center;
}

.product__des-content .text .item__info .p1 {
  color: #333;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 2rem;
}

.product__des-content .text .item__info .p2 {
  font-weight: 500;
  color: #bb0029;
  font-size: 14px;
  margin-bottom: 0;
}

.product__des-content .note_list {
  border: 1px solid #bb0029;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

.product__des-content .contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.product__des-content .contact_item img {
  max-width: 32px;
  max-height: 32px;
}

.product__des-content .contact_item a, .product__des-content .contact_item p {
  padding-left: 15px;
}

.product__des-content .contact_item p {
  font-weight: 500;
  color: #bb0029;
  font-size: 14px;
  margin-bottom: 0;
}

.product__des-title {
  text-align: center;
}

.product__des-title p {
  font-size: 16px;
  font-weight: 500;
  color: #333942;
}

.product__des .category {
  background: #fff;
  padding: 15px;
  margin-right: -15px;
  border-radius: 5px;
  box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
}

.product__des .category .title {
  text-align: center;
}

.product__des .category .title p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color);
}

.product__des .category .product {
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 14px 0;
}

.product__des .category .product img {
  width: 100%;
  max-width: 100%;
}

.product__des .category .product_text {
  max-width: 176px;
  margin: auto;
}

.product__des .category .product_text p {
  font-size: 14px;
  color: #333;
}

.product__des .category .product_text h5 {
  font-size: 16px;
  color: #BB0029;
}

.product__des .category .product_text #h5 {
  font-size: 14px;
  font-weight: 600;
  color: #aab5c3;
  text-decoration: line-through;
}

.product__des .category .product:hover {
  box-shadow: -1px 7px 14px -1px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -1px 7px 14px -1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -1px 7px 14px -1px rgba(0, 0, 0, 0.18);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__des .category .product:hover_text p {
  color: #BB0029;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__des ul {
  padding-left: 0;
}

.product__des ul li {
  list-style: none;
}

.product__des ul li a {
  text-decoration: none;
  pointer-events: none;
  color: var(--color-a);
  font-size: var(--font-size-a);
}

.product__des .product-1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.evaluate {
  margin-top: 30px;
}

.evaluate__title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.evaluate__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.evaluate__star-number span {
  white-space: pre;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
}

.evaluate__star-icon {
  padding: 0 20px;
}

.evaluate__star-text p {
  color: #888;
  font-size: 14px;
  margin-bottom: 0;
}

.evaluate__number-d {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.evaluate__number-d p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.evaluate__number-d p span {
  color: #888;
  font-size: 13px;
}

.evaluate__number-d p img {
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.evaluate__number-d #span-line {
  position: absolute;
  content: '';
  width: 80%;
  border-radius: 20px;
  top: 10px;
  left: 35px;
  height: 3px;
  background-color: #000000;
}

.evaluate__number-d .number-small {
  position: absolute;
  right: 0;
  color: #000000;
  font-size: 12px;
}

.evaluate__number-d .line-1 {
  background-color: #aab5c3 !important;
}

.evaluate__img-content p {
  font-size: 17px;
  font-weight: 500;
}

.evaluate__img-content img {
  width: 120px;
  height: 120px;
}

.evaluate__img-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.evaluate__img-tab .title p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  margin-bottom: 0;
}

.evaluate__img-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.evaluate__img-tab ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px 15px;
  border: 1px solid #0F83FF;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.evaluate__img-tab ul li span {
  color: #0F83FF;
  font-size: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.evaluate__img-tab ul li img {
  width: 15px;
  height: 15px;
  padding-left: 3px;
}

.evaluate__img-tab ul .active {
  background-color: #f1f1f1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.evaluate__img-tab ul .active span {
  color: #888;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.evaluate .comment {
  padding: 50px 0;
}

.evaluate .comment-item {
  padding: 0 15px;
}

.evaluate .comment-item .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.evaluate .comment-item .customer .item {
  margin: 0 15px;
}

.evaluate .comment-item .customer .avar p {
  padding: 10px 30px;
  background-color: #ca1658;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.evaluate .comment-item .customer .sup p {
  margin-bottom: 0;
}

.evaluate .comment-item .customer .date {
  margin-top: 50px;
}

.evaluate .comment-item .customer .date p {
  margin-bottom: 0;
}

.evaluate .comment-item .image img {
  width: 100px;
  height: 100px;
}

.evaluate .comment-item .sup {
  text-align: left;
}

.evaluate .comment-item .content p {
  color: #050505;
  font-size: 14px;
  padding-top: 15px;
}

.evaluate .comment-item #iconSad {
  width: 40px;
  height: 40px;
}

.evaluate .comment .tab-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.evaluate .comment-review {
  margin-top: 30px;
  text-align: center;
}

.evaluate .comment-review .btn {
  border: 1px solid #0F83FF;
  padding: 10px 25%;
  border-radius: 5px;
}

.evaluate .comment-review .btn p {
  color: #0F83FF;
  margin-bottom: 0;
  font-size: 14px;
}

.tab_comment {
  display: none;
}

.row-slide .product-seen {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.1);
}

.row-slide .product-seen .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-slide .product-seen .title .arrow img {
  width: 10px;
  height: 10px;
}

.row-slide .product-seen .title p {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #333942;
}

.row-slide .product-seen .product {
  cursor: pointer;
  text-align: center;
  margin: 14px 0;
}

.row-slide .product-seen .product img {
  width: 100%;
  max-width: 100%;
}

.row-slide .product-seen .product_text {
  max-width: 176px;
  margin: auto;
}

.row-slide .product-seen .product_text p {
  font-size: 14px;
  color: #333;
}

.row-slide .product-seen .product_text h5 {
  font-size: 16px;
  color: #BB0029;
}

.row-slide .product-seen .product_text #h5 {
  font-size: 14px;
  font-weight: 600;
  color: #aab5c3;
  text-decoration: line-through;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .contact_item {
    overflow: hidden;
  }
  .product__des-content {
    margin-left: 0;
    margin: -15px;
  }
  .evaluate__img-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .evaluate__img-tab ul {
    margin-top: 15px;
  }
  .evaluate__img-tab ul li {
    padding: 5px 10px;
    margin: 0 5px;
  }
  .row-slide .product-seen {
    margin-left: 0;
  }
  .evaluate .comment-item .customer .avar p {
    padding: 0 20px;
  }
  .evaluate .comment-item .customer .item {
    margin: 0 5px;
  }
}
/*# sourceMappingURL=style.css.map */