*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F8F8F8 !important;
}

:root{
    --color: #333942;
    --color-a: #666666;
    --fontSize-a:14px;
}
.category-product{
    background-color: #fff;
    height:30px;
    ul{
        display: flex;
        align-items: center;
        li{
            list-style: none;
            a{
                font-family: 'Roboto',sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #999;
                text-decoration: none;
                position:relative;
                padding: 0 10px;
                &:after{
                    content: "";
                    position:absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height:15px;
                    background-color: #999;
                    transform: rotate(25deg);
                }
            }
        }
    }
}
// product
.row_big{
    .carousel_big{
        height: 420px;
        width: 100%;
        max-width: 100%;
        margin:0 0 10px 0;
        .carousel-cell{
            position: relative;
            .sale{
                position: absolute;
                width:40px;
                height:40px;
                border-radius: 5px 5px 40px 40px;
                top: 10px;
                border-bottom: 40px solid transparent;
                right:10px;
                content:'';
                background:red;
                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}
.product__detail{
    margin-top: 15px;
    .row-detail{
        background-color: #fff;
        border-radius: 5px;
        padding: 15px 0;
        box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        .row_small{
            .carousel-small{
                width:150px;
                height:150px;
                margin: 0 5px;
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .short-desc{
        span{
            font-weight: 600;
            color: #999;
            font-size: var(--fontSize-a);
            padding-right: 10px;
        }
        p{
            font-size: 14px;
            color: #333;
            font-weight: 700;
        }
        .title{
            h2{
                font-size: 20px;
                color: #2a2a2a;
                line-height: 2rem;
                margin-bottom: 0;
            }
        }
        .code{
            display: flex;
            align-items: center;
            .quycach{
                padding-left: 100px;
            }
        }
        .all-price{
            display: flex;
            align-items: center;
            .new-price{
                font-weight: 500;
                color: #BB0029;
                font-size: 20px;
            }
            .old-price{
                text-decoration: line-through;
                color: #aab5c3;
                font-weight: 400;
                font-size: 15px;
                padding-left: 15px;
            }
        }
        .promo-intro{
            padding: 8px 20px;
            border-radius: 4px;
            margin: 10px 0;
            background: #DEE5EE;
            display: inline-block;
            .title-promo{
                font-size: 12px;
                color: #333;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
        .quantity{
            display:flex;
            align-items: center;
            .add-cart{
                cursor: pointer;
                position: relative;
                padding: 10px 20px;
                border-radius: 20px;
                display: inline-block;
                background: rgb(187, 0, 41);
                p{
                    margin-bottom: 0;
                    transition: all .3s;
                    color: #fff;
                }
            }
            input{
                border:none;
                outline: none;
                width: 20%;
                padding: 5px;
                border-radius: 20px;
                &:focus{
                    border: 1px solid #000;
                }
            }
        }
        .product_bonus{
            border-top:1px solid #f2efef ;
            margin-top:15px;
            .title{
                h2{
                    font-size: 16px;
                    padding-top: 15px;
                }
            }
            &-d{
                display: flex;
                align-items: center;
                p{
                    font-size: 14px;
                    color: #333;
                    font-weight: 400;
                    margin-bottom: 0;
                }
                .price{
                    padding-left: 15px;
                    color: #bb0029;
                }
                img{
                    border: 1px solid;
                    padding: 5px;
                    margin: 10px;
                    border-radius: 5px;
                }
            }
            .total{
                display: flex;
                align-items: center;
                span{
                    display: flex;
                    p{
                        padding-left: 15px;
                        color: #bb0029;
                        margin-bottom: 0;
                    }
                }
                .addtoCart{
                    background: #bb0029;
                    border: 1px solid #bb0029;
                    color: #fff;
                    border-radius: 20px;
                    font-size: 16px;
                    cursor: pointer;
                    margin-left: 15px;
                    padding: 5px 10px;
                    span{
                        color:#fff;
                    }
                }
            }
        }
        .star-mobile{
            display: none;
        }
    }
    .freeship{
        display:none;
        &_d{
            background: linear-gradient(90deg, rgba(212,23,218,1) 0%, rgba(124,69,252,1) 100%, rgba(253,29,29,1) 100%);
            display: flex;
            justify-content: center;
            padding: 0 15px;
            align-items: center;
            img{
                width: 30px;
                height: 28px;
            }
            p{
                font-weight: 499;
                font-size: 13px;
                color: #ffffff;
                text-align: center;
                margin-bottom: 0;
                padding: 10px;
            }
        }
    }
    .ads-mobile{
        display: none;
        margin-top:15px;
        img{
            width:100%;
            max-width: 100%;
        }
    }
    .quality{
        display: none;
    }

}
.product__des{
    margin-top:25px;
    &-content{
        background: #fff;
        padding: 15px;
        margin-left: -15px;
        border-radius:5px;
        box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        .title{
            ul{
                li{
                    font-size: 16px;
                    list-style: none;
                    font-weight: 500 ;
                    color: var(--color);
                }
                #li-mobile{
                    display: none;
                }
                #li-pc{
                    pointer-events: none;
                }
            }
        }
        .text{
            .text-mb{
                display: none;
            }
            &_d{
                .see-more{
                    display: none;
                }
                p{
                    color: var(--color-a);
                    font-size: var(--fontSize-a);
                }
                h2{
                    font-size: 16px;
                    color: #333333;
                    font-weight: 500;
                }
                h3{
                    font-size: 15px;
                    color: #555555;
                    font-weight: 500;
                }
            }
            .item{
                text-align: center;
                &__info{
                    .p1{
                        color: #333;
                        font-size: 14px;
                        margin-bottom: 0;
                        line-height: 2rem;
                    }
                    .p2{
                        font-weight: 500;
                        color: #bb0029;
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .note_list{
        border: 1px solid #bb0029;
        border-radius:5px;
        margin: 10px 0;
        padding: 15px;
        ul{
            margin-bottom: 0;
            li{
                padding:3px 0;
            }
        }
    }
    .contact{
        display: flex;
        align-items: center;
        &_item{
            display: flex;
            align-items: center;
            padding: 10px 0;
            img{
                max-width: 32px;
                max-height: 32px;
            }
            a, p{
                padding-left: 15px;
            }
            p{
                font-weight: 500;
                color: #bb0029;
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
    &-title{
        text-align: center;
        p{
            font-size: 16px ;
            font-weight: 500;
            color: #333942;
        }
    }
    .category{
        background: #fff;
        padding:15px;
        margin-right: -15px;
        border-radius:5px;
        box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        .title{
            text-align: center;
            p{
                font-size: 16px;
                font-weight: 500 ;
                color: var(--color);
            }
        }
        .product{
            cursor: pointer;
            text-align: center;
            transition: all .3s;
            margin: 14px 0;
            img{
                width:100%;
                max-width: 100%;
            }
            &_text{
                max-width: 176px;
                margin: auto;
                p{
                    font-size: 14px;
                    color: #333;
                }
                h5{
                    font-size: 16px;
                    color: #BB0029;
                }
                #h5{
                    font-size: 14px;
                    font-weight: 600;
                    color: #aab5c3;
                    text-decoration: line-through;
                }
            }
            &:hover{
                box-shadow: -1px 7px 14px -1px rgba(0,0,0,0.18);
                -webkit-box-shadow: -1px 7px 14px -1px rgba(0,0,0,0.18);
                -moz-box-shadow: -1px 7px 14px -1px rgba(0,0,0,0.18);
                transition: all .3s;
                &_text{
                    p{
                        color: #BB0029;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    ul{
        padding-left: 0;
        li{
            list-style: none;
            padding-left: 20px;
            a{
                text-decoration: none;
                pointer-events: none;
                color: var(--color-a);
                font-size: var(--fontSize-a);
            }
        }
    }
    .product1{
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        &_img{
            img{
                width: 100%;
                max-width: 100%;
            }
        }
        &_text{
            p{
                font-size: 14px;
                color: #333;
            }
            h5{
                font-size: 16px;
                color: #BB0029;
            }
        }
    }
}
// Evaluate

.evaluate{
    margin-top: 30px;
    &__title{
        img{
            width:15px;
            height:15px;
            display: none;
        }
        h3{
            font-size: 16px;
            font-weight: 700;
            color: #000;
        }
    }
    &__star{
        display: flex;
        align-items: baseline;
        &-number{
            span{
                white-space: pre;
                font-weight: 500;
                color: #000000;
                font-size: 36px;
            }
        }
        &-icon{
            padding: 0 20px;
        }
        &-text{
            p{
                color: #888;
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
    &__number{
        &-d{
            position: relative;
            display: flex;
            align-items: center;
            p{
                display: flex;
                align-items: center;
                span{
                    color: #888;
                    font-size: 13px;
                }
                img{
                    width:12px;
                    height:12px;
                    margin: 0 5px;
                }
            }
            #span-line{
                position: absolute;
                content: '';
                width:80%;
                border-radius:20px;
                top: 10px;
                left: 35px;
                height:3px;
                background-color: #000000;
            }
            .number-small{
                position: absolute;
                right: 0;
                color: #000000;
                font-size: 12px;
            }
            .line-1{
                background-color:#aab5c3 !important;
            }
        }
    }
    &__img{
        &-content{
            p{
                font-size: 17px;
                font-weight: 500;
            }
            img{
                width:120px;
                height:120px;
            }
        }
        &-tab{
            display: flex;
            align-items: center;
            margin-top: 30px;
            .title{
                p{
                    font-size:16px;
                    font-weight: 500;
                    margin-right:15px;
                    margin-bottom: 0;
                }
            }
            ul{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                li{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    padding: 10px 15px;
                    border: 1px solid #0F83FF;
                    border-radius: 20px;
                    background-color: #fff;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: all .3s;
                    span{
                        color: #0F83FF;
                        font-size: 14px;
                        transition: all .3s;
                    }
                    img{
                        width:15px;
                        height:15px;
                        padding-left: 3px;
                    }
                }
                .active{
                    background-color: #f1f1f1;
                    transition: all .3s;
                    span{
                        color: #888;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    .comment{
        padding: 50px 0;
        &-item{
            padding: 0 15px;
            .customer{
                display: flex;
                line-height: 50px;
                align-items: center;
                .item{
                    margin:0 15px;
                }
                .avar{
                    p{
                        padding: 10px 30px;
                        background-color: #ca1658;
                        border-radius:50%;
                        display: inline-block;
                        margin-bottom: 0;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 400
                    }
                }
                .sup{
                    p{
                        margin-bottom: 0;
                    }
                }
                .date{
                    margin-top: 50px;
                    p{
                        margin-bottom: 0;
                    }
                }
            }
            .image{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            .sup{
                text-align: left;
            }
            .content{
                p{
                    color: #050505;
                    font-size: 14px;
                    padding-top: 15px;
                }
            }
            #iconSad{
                width: 40px;
                height: 40px;
            }
        }
        .tab-item{
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        &-review{
            margin-top: 30px;;
            text-align: center;
            .btn{
                border: 1px solid #0F83FF;
                padding: 10px 25px;
                border-radius: 5px;
                p{
                    color: #0F83FF;
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
            .btn-showall{
                display:none;
            }
        }
    }
}


.tab_comment{
    display:none;
}

.row-slide{
    .product-seen{
        background-color: #fff;
        border-radius: 5px;
        padding: 15px;
        margin-top: 15px;
        box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 7px 14px -2px rgba(0,0,0,0.1);
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 16px !important;
                font-weight: 500 !important;
                color: #333942;
            }
        }
        .product{
            cursor: pointer;
            text-align: center;
            margin: 14px 0;
            img{
                width:100%;
                max-width: 100%;
            }
            &_text{
                max-width: 176px;
                margin: auto;
                p{
                    font-size: 14px;
                    color: #333;
                }
                h5{
                    font-size: 16px;
                    color: #BB0029;
                }
                #h5{
                    font-size: 14px;
                    font-weight: 600;
                    color: #aab5c3;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.star-widget{
    input{
        display:none;
    }
    label{
        font-size:40px;
        color:#444;
        padding: 10px;
    }
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4
}
input#rate-1:checked ~ label{
    color: #fe7;
}

.fotorama{
    width:100%;
    &__wrap{
        width:100% !important;
    }
    &__stage{
        width: 100% !important;
        height: 424px !important;
    }
}


.tab_mobile-detail{
    display: none;
}
.search{
    display:none;
}













//tablet
@media only screen and (max-width:991px) and (min-width:500px){
    .category-product{
        display: none;
    }
    .product__detail{
        .short-desc{
            margin-top:15px;
        }
    }
}
// mobile
@media only screen and(max-width:767px) and (min-width:320px){
    .category-product{
        display: none;
    }
    .search{
        height:50px;
        display: none;
        position: fixed;
        width:100%;
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
        z-index: 111;
        background: #ffffff;
        &_d{
            display: flex;
            padding: 0 15px;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            img{
                width:15px;
                height:15px;
            }
            input{
                line-height: 36px;
                box-sizing: border-box;
                background-color: #ffffff;
                overflow: visible;
                width: 80%;
                border-radius: 18px;
                border: 1px solid #e3e3e3;
                :focus{
                    border: 1px solid #e3e3e3;
                    border: none;
                }
            }
        }
    }
    ::placeholder {
        color: #999;
        font-size: 14px;
      }
    .fotorama__stage {
        height: 350px !important;
    }
    .contact{
        &_item{
            overflow: hidden;
        }
    }
    .product{
        &__des{
            &-content{
                margin-left: 0;
                margin: -10px;
            }
        }
    }
    .evaluate{
        &__img{
            &-tab{
                flex-direction: column;
                ul{
                    margin-top: 15px;
                    li{
                        padding: 5px 10px;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .row-slide .product-seen{
        margin-left: 0;
    }
    .evaluate{
        .comment-item{
            .customer{
                .avar{
                    p{
                        padding: 0 20px;
                    }
                }
                .item{
                    margin:0 5px;
                }
            }
        }
    }
    .row-slide .product-seen .product img{
        width:50%;
        max-width:100%;
    }

    // mobile
    .fotorama__nav-wrap{
        display: none !important;
    }
    .product__detail{
        margin-top: 0;
        .short-desc{
            .title{
                margin-top: 30px;
            }
            .info-detail{
                display: none;
            }
            .promo-intro{
                background: none;
                padding: 0;
                .title-promo{
                    color: #0F83FF;
                }
            }
            .all-price{
                p{
                    margin-bottom: 0;
                }
            }
            .star-mobile{
                display: flex;
                .star{
                    position: relative;
                    &::after{
                        position: absolute;
                        top: 8px;
                        right: -6px;
                        width: 1px;
                        height: 15px;
                        content: '';
                        background-color: #888;
                    }
                }
                .sold{
                    padding-left: 20px;
                }
                span{
                    line-height: 30px;
                    color: #000000;
                    font-size: 15px;
                }
            }
            .quantity{
                display: none;
            }
        }
        .freeship{
            display: block;
        }
        .ads-mobile{
            display: block;
        }
        .quality{
            display: flex;
            align-items: center;
            padding: 15px 10px;
            .quality-control, .commit{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width:30px;
                    height:30px;
                }
                p{
                    color: #000000;
                    font-size: 12px;
                    margin-bottom: 0;
                    font-weight: 500;
                    padding-left: 10px;
                }
            }
        }
        .product_bonus{
            .total{
                display: flex;
                align-items: center;
                span{
                    display: flex;
                    p{
                        padding-left: 15px;
                        color: #bb0029;
                        margin-bottom: 0;
                    }
                }
                .addtoCart{
                    margin-left: 15px;
                    padding: 0px 5px;
                    span{
                        color:#fff;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .fotorama__stage{
        img{
            height: 100% !important;
            left: 0 !important;
            top: 0;
            width: 100% !important;
        }
    }
    .product__des{
        .title{
            ul{
                li{
                    color: #999;
                }
                .active{
                    color: #000;
                }
            }
        }
        &-content{
            .title{
                ul{
                    display: flex;
                    justify-content: space-around;
                    #li-mobile{
                        display: block;
                    }
                    #li-pc{
                        pointer-events:painted;
                    }
                }
            }
            .text{
                &_d{
                    .see-more{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        p{
                            margin-bottom:0;
                        }
                        img{
                            width: 13px;
                            margin: 5px 0 0 5px;
                        }
                        .active{
                            transform: rotate(180deg);
                        }
                    }
                    .text-more{
                        display: none;
                        margin-top: 15px;
                    }
                }
                .text-mb{
                    p{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .row-mobile{
                    display:none;
                }
            }
        }
        .category{
            display: none;
        }
    }
    .evaluate-mobile{
        display:block;
    }
    .evaluate{
        border-top: 1px solid;
        &__title{
            // box-shadow: 0px 8px 6px -8px rgb(0 0 0 / 14%);
            height:50px;
            display: flex;
            align-items: center;
            text-align: center;
            h3{
                margin-bottom: 0;
            }
        }
        .tab_navigation, .tab_comment-area{
            display: none;
        }
        .comment{
            &-review{
            display: flex;
            justify-content: space-between;
            align-items: center;
                .btn-showall{
                    display: block;
                }
                .btn{
                    padding: 10px 15px;
                }
            }
        }
    }
    .active-evaluate{
        background-color: #fff;
        padding: 15px;
        height: 100%;
        top: 0;
        position: fixed;
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        overflow:auto;
        z-index: 100;
        left: 0;
        .comment-review{
            margin-top: 0;
        }
        .btn-showall{
            display:none !important;
        }
        .btn-write{
            width:100%;
        }
        .btn{
            padding: 10px 20px;
        }
        .tab_navigation, .tab_comment-area{
            display: block;
        }
        .search{
            display:none;
        }
    }
    .slide_product{
        margin-top: 15px;
    }
    .product_bonus{
        .total{
            margin: 15px 0;
        }
    }

}
