/* root */
:root {
  --primary: #36c6d3;
  --border-primary: #2bb8c4;
  --color-1: #f1c40f;
  --color-2: #bac3d0;
  --color-3: #659be0;
  --color-top: #999;
  --border-top: #e7ecf1;
  --color-table: #333333;
}

.text-color-top {
  color: var(--color-top);
}

.text-color-333 {
  color: #333;
}

.active {
  background-color: var(--primary);
}

.new {
  background-color: var(--color-1);
}

.stop {
  background-color: var(--color-2);
}

.bg-status-drop {
  background-color: var(--color-3);
}

.font-size-1 {
  font-size: 0.9rem;
}

.font-size-s {
  font-size: 0.7rem;
}

/* logo */
.logo_name h3 {
  font-size: 2.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* sidebar */
.bg-sidebar-item {
  background-color: #337ab7 !important;
  margin-bottom: 4px;
  color: white;
}

.sidebar__list {
  margin-top: 4px;
}

.team_item-link-hover:hover .bg-sidebar-item {
  background-color: #77a4cc !important;
  border-radius: 12px;
  color: #000;
}

.sidebar__list {
  border-radius: 12px;
}

.bg-sidebar-item {
  opacity: 0.8;
}

.bg-sidebar-item-last {
  margin-bottom: 0;
}

.team_container {
  background-color: #fff;
}

.btn_team-top {
  background-color: var(--primary);
  border: 1px solid var(--border-primary);
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
}

.team__top-left h4 {
  font-weight: 600;
  opacity: 0.7;
}

.team_bars {
  font-size: 1.5rem !important;
  opacity: 0.7;
}

.team__top-right-icon {
  opacity: 0.3;
}

.team__top-right-down {
  font-size: 1.5rem;
}

.team__top-right-fullcreen,
.team__top-right-reload {
  font-size: 1rem;
}

.team__top-right i:hover {
  cursor: pointer;
  opacity: 0.2;
}

.team_container hr {
  color: var(--color-top);
}

.team__filter-address {
  max-height: 210px;
  overflow-y: auto;
}

.search_city-btn {
  border: 1px solid #ced4da;
}

input.form-control.m-1.w-auto.search_city {
  height: 35px;
}

.flex-box {
  display: flex;
  padding-left: 0 !important;
  flex-wrap: wrap;
}

.w-200 {
  width: 200px;
}

/* table */
.table {
  border: 1px solid #eee;
}

.table__daily tr th {
  color: #666;
  font-weight: 600;
  border-bottom: 2px solid #eee !important;
}

.bg-status-drop {
  border-radius: 0 3px 3px 0 !important;
  overflow: hidden;
}

.bg-status-drop:hover {
  opacity: 0.9;
}

.footer__copyright {
  font-size: 0.8rem;
}

/* scroll top */
.scroll__top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.scroll__top i {
  color: var(--color-top);
  font-size: 2.6rem;
  transition: all 0.3s ease;
}

.scroll__top i:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* end scroll top */

@media (max-width: 464px) {
  .w-200 {
    width: 100% !important;
  }
}

/* ccroll */
::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #eee;
}

.list-item-custom {
  font-size: 90%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 0 solid #fff;
  background-color: #586674;
}

.team_item_link {
  background-color: #a3c4e4 !important;
}

.team_item-link:hover {
  background-color: #68a2d4 !important;
}

.team_item-link-hover {
  height: 40px;
}

.dropdown-menu.show {
  min-width: 200px;
}

/* user */
.paginate_button {
  background-color: rgb(202, 197, 197) !important;
}

.table> :not(caption)>*>* {
  border-bottom: 1px solid #eee !important;
}

@media (max-width: 768px) {
  .table__container {
    overflow-x: auto;
  }
}

@media (max-width: 700px) {
  .res_mobile-role {
    padding: 0 !important;
    margin-top: 1rem;
  }

  .role-content {
    margin-left: 0 !important;
  }
}

.control-label .required, .form-group .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

/* PRODUCT CATEGORY */
/* table tbody tr.child-category {
  display: none;
} */

table .click-cell {
  cursor: pointer;
}

tr.selected {
  background: #f5f8fd !important;
}

.hide-select-option {
  display: none !important;
}

.priority {
  border: 1px solid #36c6d3;
  border-radius: 50%;
  font-size: 13px;
  color: #36c6d3;
  padding: 0.375rem 0.75rem;
}

.priority-cha {
  background: #36c6d3;
  color: #fff;
}