#myTab{
    background: #eee;
    padding:5px 0px 5px 5px;
}
#myTab .nav-link {
    color: #333;
    transition: all 0.2s ease;
    padding: 15px 14px;
}

#myTab .nav-link.active {
    color: #555;
    border-left: 3px solid #0068e1;
    background:white;
}