/* -----------------------------------defaults page----------------------------------- */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* -----------------------------------Trang theo dõi đơn hàng----------------------------------- */
/* Thanh sidebar */
.check-order {
    background: #f1f1f1;
    /* width: 270px; */
    margin-top: 0;
    border: 1px solid #e3e3e3;
    /* float: left; */
    margin-top: 10px;
}

.check-order ul li {
    border-bottom: 1px solid #fff;
}
.check-order ul li:last-child {
    border-bottom: 0;
}
.check-order ul li a {
    
    font-weight: 400;
    font-size: 14px;
    color: #333;
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.check-order ul li:hover {
    background: #bb0029;
}
.check-order ul li:hover a {
    color: #fff;
}
.check-order ul li.active {
    background: #bb0029;
}
.check-order ul li.active a {
    color: #fff;
}
.hover-order {
    display: none;
}
.check-order ul li a .img-order,
.check-order ul li a .hover-order {
    margin-right: 7px;
    margin-bottom: -2px;
}
.check-order ul li:hover a .img-order,
.check-order ul li.active a .img-order {
    display: none;
}
.check-order ul li:hover a .hover-order,
.check-order ul li.active a .hover-order {
    display: inline-block;
}
.check-order ul li ul {
    background: #fff;
    padding: 18px;
}
.check-order ul li ul li:hover {
    background: #fff;
}
.check-order ul li ul li.active {
    background: transparent;
}
.check-order ul li ul li.active a {
    color: #bb0029 !important;
}

.active-link.active{
    color: #bb0029;
}
.check-order ul li ul li a {
    color: #666666 !important;
    
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    padding-bottom: 18px;
}
.check-order ul li ul li:last-child a {
    padding-bottom: 0;
}
.check-order ul li ul li:hover a {
    color: #bb0029 !important;
}

/* Tra cứu đơn hàng */
.checkorder {
    background: #f1f1f1;
    /* width: 810px; */
    /* float: right; */
    padding: 25px;
    margin-top: 10px;
}
.checkorder .title {
    font-size: 18px;
    
    font-weight: 400;
    color: #2a2a2a;
    border-bottom: 2px solid #bb0029;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.write-order {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}
.write-order .ipt-order {
    border: 1px solid #cbcbcb;
    width: 243px;
    padding: 11px;
    
    font-weight: 400;
    font-style: italic;
    border-radius: 0;
    border: 1px solid #cbcbcb;
    float: left;
}
.write-order .btn-check {
    
    font-size: 16px;
    font-weight: 400;
    float: left;
    background: #bb0029;
    color: #fff;
    width: 110px;
    padding: 8px 0;
    text-align: center;
    border: 1px solid #bb0029;
    margin-left: 15px;
}
.write-order .btn-check:hover {
    color: #bb0029;
    background: #fff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: block;
}

li a:hover {
    text-decoration: none !important;
}


/* Content trang con */

.static-detail {
    float: right;
    width: 830px;
    padding: 20px;
    background: #f7f7f7;
    text-align: justify;
    margin-top: 10px;
}

.static-detail .title {
    text-transform: uppercase;

    color: #111;
    border-bottom: 2px solid #bb0029;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
.detail-static {
    line-height: 1.8;
}
h3{
    font-size: 16px;
}
.detail-static h3 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 1.8;
    margin: 3px 0;
}
.detail-static h2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.8;
    color: #000;
}
.detail-static strong {
    font-weight: 500;
}
.detail-static p {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 1.8;
    margin-bottom: 0;
}
.detail-static ul {
    list-style-type: disc;
    -webkit-padding-start: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 1.8;
}
.detail-static a {
    color: #bb0029;
}
a, a:hover {
    text-decoration: none;
}

/* -----------------------------------Trang Liên Hệ----------------------------------- */
.map {
    position: relative;
}
.box-contact {
    width: 470px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding: 32px 30px 35px;
    top: 50%;
    right: 95px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.box-contact .title {

    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.box-contact .sapo {

    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 28px;
}
.box-contact .ipt-contact {

    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    border-radius: 0;
    margin-bottom: 24px;
}
textarea.form-control {
    height: auto;
}
.btn-contact {
    background: #bb0029;
    padding: 16px 0;
    color: #fff;

    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border: 0;
    width: 100%;
}
.btn-contact:hover {
    background: #fff;
    color: #bb0029;
}


/* -----------------------------------Trang Đơn Hàng Sau Khi Tra Cứu----------------------------------- */
.box-order {
    background: #fff;
    border: 1px solid #cbcbcb;
    margin-top: 25px;
}
.top-order {
    text-align: center;
}
.top-order p:first-child {
    margin-top: 19px;
}
.top-order p, .top-order .action-order {

    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
}
.top-order span {
    color: #666;
    font-size: 16px;

    font-weight: 400;
}
.top-order p:last-child {
    margin-top: 3px;
}

.top-order p, .top-order .action-order {

    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.middle-order {
    display: inline-block;
    width: 100%;
    margin: 25px 0;
}
.progress {
    height: 103px;
}

.progress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #849397;
    background: #fff;
    box-shadow: none;
}
.progress>li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: .8em;
    padding: 60px 0;
}
.progress>li:first-child:before {
    content: url(../../images/check1.png);
}
.progress>li:before {
    display: block;
    margin: 0 auto;
    background: transparent;
    width: 2.5em;
    height: 3em;
    text-align: center;
    margin-bottom: .25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.progress>li:nth-child(odd) p {
    top: 0;
}
.progress>li p {

    font-weight: 500;
    font-size: 14px;
    color: #2a2a2a;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 1.4;
    display: grid;
}
.progress>li:first-child:after {
    background: transparent;
}
.progress>li:after {
    content: '';
    position: absolute;
    display: block;
    height: .5em;
    top: 75px;
    right: 50%;
    z-index: 0;
}
.progress>li.pause-complete.active:before {
    content: url(../../images/check1.png);
}
.progress>li.pause-complete:after {
    background: #cbcbcb;
    width: 100%;
}
.list-order {
    padding: 20px 25px;
}
.info-order .title, .list-order .title {

    font-weight: 500;
    font-size: 16px;
    color: #2a2a2a;
    border-bottom: 1px solid #666;
    display: inline-block;
}
.list-order .title {
    margin-bottom: 15px;
}
.list-order .table {
    margin-bottom: 0;
}
.list-order table tr th {
    text-align: center;
    background: #15b02a;
    color: #fff;

    font-size: 14px;
    font-weight: 500;
    padding: 7px;
    border: 1px solid #fff;
}
.box-allprice p {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;

    color: #333;
}
.box-allprice p span {
    float: right;
    font-size: 16px;
    font-weight: 500;

    color: #111;
}
.box-allprice .last-price, .box-allprice .last-price span {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.box-allprice .last-price span {
    color: #bb0029;
    text-transform: none;
}

.box-allprice .last-price, .box-allprice .last-price span {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.box-allprice p span {
    float: right;
    font-size: 16px;
    font-weight: 500;

    color: #111;
}
.custom_modal {
    width: 450px;
    display: block;
}
.modal-body {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.nav-tabs{
    border: 0;
}


.custom_modal .nav-tabs>li {
    width: 50%;
    background: #f5f3f3;
    box-shadow: inset 2px -2px 5px 0 rgba(0, 0, 0, .1);
}

.custom_modal .nav-tabs>li.active>a, .custom_modal .nav-tabs>li.active>a:hover,.title-log {
    font-size: 20px;
    font-weight: 500;
    color: #bb0029;
    text-transform: uppercase;
    text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.custom_modal .nav-tabs>li>a {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
}
.icon-form {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #999;
}

.box-input {
    position: relative;
}
.ipt-text {
    border-radius: 0;
    font-size: 16px;
    width: 400px;
    padding-left: 40px;
    
    
}
.box-check .check-custom input, .box-check2 .check-custom input {
    position: absolute;
    opacity: 0;
}

.box-check .check-custom, .box-check2 .check-custom {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}
.box-check .checkmark, .box-check2 .checkmark {
    position: absolute;
    top: 3px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
}
.box-check .check-custom input:checked~.checkmark:after, .box-check2 .check-custom input:checked~.checkmark:after {
    display: block;
}
.box-check .check-custom .checkmark:after, .box-check2 .check-custom .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #15b02a;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.box-check .checkmark:after, .box-check2 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.btn-red {
    background: #00e6f8;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 17px 0;
    padding-bottom: 14px;
    border: 0;
    border-radius: 0;
    width: 400px;
    cursor: pointer;
}




.form-box {
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 15px;
    overflow: hidden;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.input-group{
    
    position: absolute;
    width: 450px;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.button-box {
    width: 300px;
    
    margin: 35px auto;
    position: relative;
    
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
    font-size: 16px;
    font-weight: 500;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
    color: #bb0029;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    
    height: 100%;
    
    border-radius: 10px;
    transition: .5s;

    width: 150px;
    background: #f5f3f3;
    box-shadow: inset 2px -2px 5px 0 rgba(0, 0, 0, .1);
}
.progress>li.success:before {
    content: url(../../images/check1.png);
}
.progress>li.success:before {
    display: block;
    margin: 0 auto;
    background: transparent;
    width: 2.5em;
    height: 3em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.progress>li.pause-complete.success:after{
    background: #1ab02a !important;
}


.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.form-box span{
    color: #777;
    font-size: 15px;
    /* bottom: 68px; */
}
#login{
    left: 50px;
}
#register{
    left: 550px;
}
#forgot-password{
    top:700px;
    
}





